---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import ChooseUs from "../components/ChooseUs.astro";

import {serviceData} from "../utils/data";
import ServiceBlock2 from "../components/ServiceBlock2.astro";
---

<BaseLayout>
    <Banner title="Services" page="Services"/>
    <!--===== SERVICE AREA STARTS =======-->
    <div class="service3-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 m-auto">
                    <div class="service3-heading text-center heading2 space-margin60">
                        <h5><img src="assets/img/icons/sub-logo3.svg" alt="">Our Services</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Comprehensive Construction Solutions Tailored To Your Needs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {serviceData.map(ele =>
                        <ServiceBlock2 imgLink={ele.imgLink} service={ele.service} info={ele.info} navLink={ele.navLink}/>)}
                <div class="space20"></div>
                <div class="col-lg-12">
                    <div class="btn-area1 text-center">
                        <a href="/contact" class="header-btn2-h3">Contact Us <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== SERVICE AREA ENDS =======-->
    <ChooseUs/>

</BaseLayout>
