---
import ServiceBlock from "./ServiceBlock.astro";
import {serviceData} from '../utils/data.js'

const {heading, title='Delivering Quality Services for Over 3 Years'} = Astro.props
---

<!--===== SERVICE AREA STARTS =======-->
<div class="service4-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <div class="service4-header text-center heading2 space-margin60">
                    {heading && <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">Our Services</h5>
                        <div class="space16"></div>}
                    <h2 class="text-anime-style-3">{title}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="service4-slider-area owl-carousel">
                    {serviceData.map((ele) =>
                            <ServiceBlock imgLink={ele.imgLink} navLink={ele.navLink} service={ele.service}/>)}
                </div>
                { heading && <div class="space40"></div>
                    <div class="btn-area1 text-center">
                        <a href="/services" class="header-btn2-h4">View All Services <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                    </div>}
            </div>
        </div>
    </div>
</div>
<!--===== SERVICE AREA ENDS =======-->

<style lang="scss">
    h2 {
      text-wrap: balance;
    }
</style>

